projects/quote-process-optimization/archive/col-documentation/XML Sample/8.5/update_entity_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Artem Shumilov (CNET Channel) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xml:lang="EN">
	<xs:include schemaLocation="coTypes.xsd"/>
	<xs:element name="update_entity_request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="COEnvelope">
					<xs:sequence>
						<xs:element name="entities">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="entity" type="COEntityType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												List of required identifiers and available fields by entity type:

												Entity type 'Contact':
												Identifiers: Email
												Fields:
												address.address1 ------------------- Max length: 50
												address.address2 ------------------- Max length: 50
												address.city ----------------------- Max length: 50
												address.company -------------------- Max length: 50
												address.description ---------------- Max length: 80
												address.fax ------------------------ Max length: 20
												address.faxExtension --------------- Max length: 6
												address.homeExtension -------------- Max length: 6
												address.homePhone ------------------ Max length: 20
												address.mobile --------------------- Max length: 20
												address.mobileExtension ------------ Max length: 6
												address.other ---------------------- Max length: 10
												address.otherExtension ------------- Max length: 6
												address.pager ---------------------- Max length: 10
												address.state ---------------------- Max length: 50
												address.title ---------------------- Max length: 40
												address.type ----------------------- 
												address.website -------------------- Max length: 10
												address.workExtension -------------- Max length: 20
												address.workPhone ------------------ Max length: 20
												address.zip ------------------------ Max length: 20
												admin ------------------------------ Max length: 1
												approver --------------------------- Max length: 1
												firstName -------------------------- 
												lastName --------------------------- 
												timeZone --------------------------- Max length: 6
												Operations:
												deleteContact

												EntityType 'Lead':
												Identifiers: CustomerNumber, LocationCode (optional)
												Fields:
												accountManager --------------------- Max length: 100
												address.address1 ------------------- Max length: 50
												address.address2 ------------------- Max length: 50
												address.city ----------------------- Max length: 50
												address.company -------------------- Max length: 50
												address.description ---------------- Max length: 80
												address.email ---------------------- Max length: 100
												address.fax ------------------------ Max length: 20
												address.faxExtension --------------- Max length: 6
												address.firstName ------------------ Max length: 20
												address.homeExtension -------------- Max length: 6
												address.homePhone ------------------ Max length: 20
												address.lastName ------------------- Max length: 20
												address.mobile --------------------- Max length: 20
												address.mobileExtension ------------ Max length: 6
												address.other ---------------------- Max length: 100
												address.otherExtension ------------- Max length: 6
												address.pager ---------------------- Max length: 100
												address.state ---------------------- Max length: 50
												address.title ---------------------- Max length: 40
												address.type ----------------------- 
												address.website -------------------- Max length: 100
												address.workExtension -------------- Max length: 20
												address.workPhone ------------------ Max length: 20
												address.zip ------------------------ Max length: 20
												billingAddress.address1 ------------ Max length: 50
												billingAddress.address2 ------------ Max length: 50
												billingAddress.city ---------------- Max length: 50
												billingAddress.company ------------- Max length: 50
												billingAddress.description --------- Max length: 80
												billingAddress.email --------------- Max length: 100
												billingAddress.fax ----------------- Max length: 20
												billingAddress.faxExtension -------- Max length: 6
												billingAddress.firstName ----------- Max length: 20
												billingAddress.homeExtension ------- Max length: 6
												billingAddress.homePhone ----------- Max length: 20
												billingAddress.lastName ------------ Max length: 20
												billingAddress.mobile -------------- Max length: 20
												billingAddress.mobileExtension ----- Max length: 6
												billingAddress.other --------------- Max length: 100
												billingAddress.otherExtension ------ Max length: 6
												billingAddress.pager --------------- Max length: 100
												billingAddress.state --------------- Max length: 50
												billingAddress.title --------------- Max length: 40
												billingAddress.type ---------------- 
												billingAddress.website ------------- Max length: 100
												billingAddress.workExtension ------- Max length: 20
												billingAddress.workPhone ----------- Max length: 20
												billingAddress.zip ----------------- Max length: 20
												canLease --------------------------- Max length: 1
												creditLimit ------------------------ Max length: 12
												customerNumber --------------------- Max length: 65535
												defaultContact --------------------- Max length: 20
												defaultPaymentMethod --------------- Max length: 50
												externalNotes ---------------------- Max length: 65535
												internalNotes ---------------------- Max length: 65535
												leadSource ------------------------- Max length: 30
												locationCode ----------------------- Max length: 50
												name ------------------------------- Max length: 50
												notificationEmail ------------------ Max length: 155
												originalCreditLimit ---------------- Max length: 12
												paymentTerms ----------------------- Max length: 50
												priceProfile ----------------------- Max length: 50
												publicSector ----------------------- Max length: 20
												shippingAddress.address1 ----------- Max length: 50
												shippingAddress.address2 ----------- Max length: 50
												shippingAddress.city --------------- Max length: 50
												shippingAddress.company ------------ Max length: 50
												shippingAddress.description -------- Max length: 80
												shippingAddress.email -------------- Max length: 100
												shippingAddress.fax ---------------- Max length: 20
												shippingAddress.faxExtension ------- Max length: 6
												shippingAddress.firstName ---------- Max length: 20
												shippingAddress.homeExtension ------ Max length: 6
												shippingAddress.homePhone ---------- Max length: 20
												shippingAddress.lastName ----------- Max length: 20
												shippingAddress.mobile ------------- Max length: 20
												shippingAddress.mobileExtension ---- Max length: 6
												shippingAddress.other -------------- Max length: 100
												shippingAddress.otherExtension ----- Max length: 6
												shippingAddress.pager -------------- Max length: 100
												shippingAddress.state -------------- Max length: 50
												shippingAddress.title -------------- Max length: 40
												shippingAddress.type --------------- 
												shippingAddress.website ------------ Max length: 100
												shippingAddress.workExtension ------ Max length: 20
												shippingAddress.workPhone ---------- Max length: 20
												shippingAddress.zip ---------------- Max length: 20
												shippingRule.freeGroundShipping ----
												shippingRule.maxWeight -------------
												shippingRule.minAmount -------------
												taxExemptId -------------------------Max length: 30
												taxExemptExpiration ---------------- Max length: 10
												taxRate ----------------------------
												CustomFields
												Operations:
												addPaymentMethods
												addShippingMethods
												deleteCustomer
												deleteBillingAddress
												deletePaymentMethods
												deleteShippingAddress
												deleteShippingMethods

												EntityType 'Prospect':
												Identifiers: CustomerNumber, LocationCode (optional)
												Fields:
												accountManager --------------------- Max length: 100
												address.address1 ------------------- Max length: 50
												address.address2 ------------------- Max length: 50
												address.city ----------------------- Max length: 50
												address.company -------------------- Max length: 50
												address.description ---------------- Max length: 80
												address.email ---------------------- Max length: 100
												address.fax ------------------------ Max length: 20
												address.faxExtension --------------- Max length: 6
												address.firstName ------------------ Max length: 20
												address.homeExtension -------------- Max length: 6
												address.homePhone ------------------ Max length: 20
												address.lastName ------------------- Max length: 20
												address.mobile --------------------- Max length: 20
												address.mobileExtension ------------ Max length: 6
												address.other ---------------------- Max length: 100
												address.otherExtension ------------- Max length: 6
												address.pager ---------------------- Max length: 100
												address.state ---------------------- Max length: 50
												address.title ---------------------- Max length: 40
												address.type ----------------------- 
												address.website -------------------- Max length: 100
												address.workExtension -------------- Max length: 20
												address.workPhone ------------------ Max length: 20
												address.zip ------------------------ Max length: 20
												billingAddress.address1 ------------ Max length: 50
												billingAddress.address2 ------------ Max length: 50
												billingAddress.city ---------------- Max length: 50
												billingAddress.company ------------- Max length: 50
												billingAddress.description --------- Max length: 80
												billingAddress.email --------------- Max length: 100
												billingAddress.fax ----------------- Max length: 20
												billingAddress.faxExtension -------- Max length: 6
												billingAddress.firstName ----------- Max length: 20
												billingAddress.homeExtension ------- Max length: 6
												billingAddress.homePhone ----------- Max length: 20
												billingAddress.lastName ------------ Max length: 20
												billingAddress.mobile -------------- Max length: 20
												billingAddress.mobileExtension ----- Max length: 6
												billingAddress.other --------------- Max length: 100
												billingAddress.otherExtension ------ Max length: 6
												billingAddress.pager --------------- Max length: 100
												billingAddress.state --------------- Max length: 50
												billingAddress.title --------------- Max length: 40
												billingAddress.type ---------------- 
												billingAddress.website ------------- Max length: 100
												billingAddress.workExtension ------- Max length: 20
												billingAddress.workPhone ----------- Max length: 20
												billingAddress.zip ----------------- Max length: 20
												canLease --------------------------- Max length: 1
												creditLimit ------------------------ Max length: 12
												customerNumber --------------------- Max length: 65535
												defaultContact --------------------- Max length: 20
												defaultPaymentMethod --------------- Max length: 50
												externalNotes ---------------------- Max length: 65535
												internalNotes ---------------------- Max length: 65535
												leadSource ------------------------- Max length: 30
												locationCode ----------------------- Max length: 50
												name ------------------------------- Max length: 50
												notificationEmail ------------------ Max length: 155
												originalCreditLimit ---------------- Max length: 12
												paymentTerms ----------------------- Max length: 50
												priceProfile ----------------------- Max length: 50
												publicSector ----------------------- Max length: 20
												reviewAllOrders -------------------- Max length: 1
												shippingAddress.address1 ----------- Max length: 50
												shippingAddress.address2 ----------- Max length: 50
												shippingAddress.city --------------- Max length: 50
												shippingAddress.company ------------ Max length: 50
												shippingAddress.description -------- Max length: 80
												shippingAddress.email -------------- Max length: 100
												shippingAddress.fax ---------------- Max length: 20
												shippingAddress.faxExtension ------- Max length: 6
												shippingAddress.firstName ---------- Max length: 20
												shippingAddress.homeExtension ------ Max length: 6
												shippingAddress.homePhone ---------- Max length: 20
												shippingAddress.lastName ----------- Max length: 20
												shippingAddress.mobile ------------- Max length: 20
												shippingAddress.mobileExtension ---- Max length: 6
												shippingAddress.other -------------- Max length: 100
												shippingAddress.otherExtension ----- Max length: 6
												shippingAddress.pager -------------- Max length: 100
												shippingAddress.state -------------- Max length: 50
												shippingAddress.title -------------- Max length: 40
												shippingAddress.type --------------- 
												shippingAddress.website ------------ Max length: 100
												shippingAddress.workExtension ------ Max length: 20
												shippingAddress.workPhone ---------- Max length: 20
												shippingAddress.zip ---------------- Max length: 20
												shippingRule.freeGroundShipping ----
												shippingRule.maxWeight -------------
												shippingRule.minAmount -------------
												taxExemptId -------------------------Max length: 30
												taxExemptExpiration ---------------- Max length: 10
												taxRate ----------------------------
												CustomFields
												Operations:
												addPaymentMethods
												addShippingMethods
												deleteCustomer
												deleteBillingAddress
												deletePaymentMethods
												deleteShippingAddress
												deleteShippingMethods

												EntityType 'Customer':
												Identifiers: CustomerNumber, LocationCode (optional)
												Fields:
												accountManager --------------------- Max length: 100
												address.address1 ------------------- Max length: 50
												address.address2 ------------------- Max length: 50
												address.city ----------------------- Max length: 50
												address.company -------------------- Max length: 50
												address.description ---------------- Max length: 80
												address.email ---------------------- Max length: 100
												address.fax ------------------------ Max length: 20
												address.faxExtension --------------- Max length: 6
												address.firstName ------------------ Max length: 20
												address.homeExtension -------------- Max length: 6
												address.homePhone ------------------ Max length: 20
												address.lastName ------------------- Max length: 20
												address.mobile --------------------- Max length: 20
												address.mobileExtension ------------ Max length: 6
												address.other ---------------------- Max length: 100
												address.otherExtension ------------- Max length: 6
												address.pager ---------------------- Max length: 100
												address.state ---------------------- Max length: 50
												address.title ---------------------- Max length: 40
												address.type ----------------------- 
												address.website -------------------- Max length: 100
												address.workExtension -------------- Max length: 20
												address.workPhone ------------------ Max length: 20
												address.zip ------------------------ Max length: 20
												billingAddress.address1 ------------ Max length: 50
												billingAddress.address2 ------------ Max length: 50
												billingAddress.city ---------------- Max length: 50
												billingAddress.company ------------- Max length: 50
												billingAddress.description --------- Max length: 80
												billingAddress.email --------------- Max length: 100
												billingAddress.fax ----------------- Max length: 20
												billingAddress.faxExtension -------- Max length: 6
												billingAddress.firstName ----------- Max length: 20
												billingAddress.homeExtension ------- Max length: 6
												billingAddress.homePhone ----------- Max length: 20
												billingAddress.lastName ------------ Max length: 20
												billingAddress.mobile -------------- Max length: 20
												billingAddress.mobileExtension ----- Max length: 6
												billingAddress.other --------------- Max length: 100
												billingAddress.otherExtension ------ Max length: 6
												billingAddress.pager --------------- Max length: 100
												billingAddress.state --------------- Max length: 50
												billingAddress.title --------------- Max length: 40
												billingAddress.type ---------------- 
												billingAddress.website ------------- Max length: 100
												billingAddress.workExtension ------- Max length: 20
												billingAddress.workPhone ----------- Max length: 20
												billingAddress.zip ----------------- Max length: 20
												canLease --------------------------- Max length: 1
												creditLimit ------------------------ Max length: 12
												customerNumber --------------------- Max length: 65535
												defaultContact --------------------- Max length: 20
												defaultPaymentMethod --------------- Max length: 50
												externalNotes ---------------------- Max length: 65535
												internalNotes ---------------------- Max length: 65535
												leadSource ------------------------- Max length: 30
												locationCode ----------------------- Max length: 50
												name ------------------------------- Max length: 50
												notificationEmail ------------------ Max length: 155
												originalCreditLimit ---------------- Max length: 12
												paymentTerms ----------------------- Max length: 50
												priceProfile ----------------------- Max length: 50
												publicSector ----------------------- Max length: 20
												reviewAllOrders -------------------- Max length: 1
												shippingAddress.address1 ----------- Max length: 50
												shippingAddress.address2 ----------- Max length: 50
												shippingAddress.city --------------- Max length: 50
												shippingAddress.company ------------ Max length: 50
												shippingAddress.description -------- Max length: 80
												shippingAddress.email -------------- Max length: 100
												shippingAddress.fax ---------------- Max length: 20
												shippingAddress.faxExtension ------- Max length: 6
												shippingAddress.firstName ---------- Max length: 20
												shippingAddress.homeExtension ------ Max length: 6
												shippingAddress.homePhone ---------- Max length: 20
												shippingAddress.lastName ----------- Max length: 20
												shippingAddress.mobile ------------- Max length: 20
												shippingAddress.mobileExtension ---- Max length: 6
												shippingAddress.other -------------- Max length: 100
												shippingAddress.otherExtension ----- Max length: 6
												shippingAddress.pager -------------- Max length: 100
												shippingAddress.state -------------- Max length: 50
												shippingAddress.title -------------- Max length: 40
												shippingAddress.type --------------- 
												shippingAddress.website ------------ Max length: 100
												shippingAddress.workExtension ------ Max length: 20
												shippingAddress.workPhone ---------- Max length: 20
												shippingAddress.zip ---------------- Max length: 20
												shippingRule.freeGroundShipping ----
												shippingRule.maxWeight -------------
												shippingRule.minAmount -------------
												taxExemptId -------------------------Max length: 30
												taxExemptExpiration ---------------- Max length: 10
												taxRate ----------------------------
												CustomFields
												Operations:
												addPaymentMethods
												addShippingMethods
												deleteCustomer
												deleteBillingAddress
												deletePaymentMethods
												deleteShippingAddress
												deleteShippingMethods

												Entity type 'PurchaseOrder':
												Identifiers: QuoteNumber
												Fields:
												updatedQuoteNumber ----------------- Max length: 18
												taxAmount --------------------------
												carrierAccountNumber --------------- Max length: 50
												deliveryMethod --------------------- Max length: 20
												description ------------------------ Max length: 100
												externalNotes ---------------------- Max length: 65535
												followUpRequired ------------------- Max length: 1
												internalNotes ---------------------- Max length: 65535
												shippingAddress.address1 ----------- Max length: 50
												shippingAddress.address2 ----------- Max length: 50
												shippingAddress.city --------------- Max length: 50
												shippingAddress.company ------------ Max length: 50
												shippingAddress.description -------- Max length: 80
												shippingAddress.email -------------- Max length: 100
												shippingAddress.fax ---------------- Max length: 20
												shippingAddress.faxExtension ------- Max length: 6
												shippingAddress.firstName ---------- Max length: 20
												shippingAddress.homeExtension ------ Max length: 6
												shippingAddress.homePhone ---------- Max length: 20
												shippingAddress.lastName ----------- Max length: 20
												shippingAddress.mobile ------------- Max length: 20
												shippingAddress.mobileExtension ---- Max length: 6
												shippingAddress.other -------------- Max length: 100
												shippingAddress.otherExtension ----- Max length: 6
												shippingAddress.pager -------------- Max length: 100
												shippingAddress.state -------------- Max length: 50
												shippingAddress.title -------------- Max length: 40
												shippingAddress.type --------------- 
												shippingAddress.website ------------ Max length: 100
												shippingAddress.workExtension ------ Max length: 20
												shippingAddress.workPhone ---------- Max length: 20
												shippingAddress.zip ---------------- Max length: 20
												shippingAmount --------------------- 
                                                shippingNotes ---------------------- Max length: 65535
												CustomFields
												Operations:
												addProducts
												removeProducts
												addManualItems

												Entity type 'Quote':
												Identifiers: QuoteNumber
												Fields:
												taxAmount --------------------------
												salesPerson ------------------------ Max length: 100
												billingAddress.address1 ------------ Max length: 50
												billingAddress.address2 ------------ Max length: 50
												billingAddress.city ---------------- Max length: 50
												billingAddress.company ------------- Max length: 50
												billingAddress.description --------- Max length: 80
												billingAddress.email --------------- Max length: 100
												billingAddress.fax ----------------- Max length: 20
												billingAddress.faxExtension -------- Max length: 6
												billingAddress.firstName ----------- Max length: 20
												billingAddress.homeExtension ------- Max length: 6
												billingAddress.homePhone ----------- Max length: 20
												billingAddress.lastName ------------ Max length: 20
												billingAddress.mobile -------------- Max length: 20
												billingAddress.mobileExtension ----- Max length: 6
												billingAddress.other --------------- Max length: 100
												billingAddress.otherExtension ------ Max length: 6
												billingAddress.pager --------------- Max length: 100
												billingAddress.state --------------- Max length: 50
												billingAddress.title --------------- Max length: 40
												billingAddress.type ---------------- 
												billingAddress.website ------------- Max length: 100
												billingAddress.workExtension ------- Max length: 20
												billingAddress.workPhone ----------- Max length: 20
												billingAddress.zip ----------------- Max length: 20
												carrierAccountNumber --------------- Max length: 50
												contact ---------------------------- Max length: 100
												deliveryMethod --------------------- Max length: 20
												description ------------------------ Max length: 100
												expirationDate --------------------- 
												externalNotes ---------------------- Max length: 65535
												externallyViewable ----------------- Max length: 1
												fee -------------------------------- Max length: 12
												followUpRequired ------------------- Max length: 1
												internalNotes ---------------------- Max length: 65535
												paymentMethod.poNumber ------------- Max length: 30
												paymentMethod.type ----------------- Max length: 16
												probability ------------------------ Max length: 5
												shippingAddress.address1 ----------- Max length: 50
												shippingAddress.address2 ----------- Max length: 50
												shippingAddress.city --------------- Max length: 50
												shippingAddress.company ------------ Max length: 50
												shippingAddress.description -------- Max length: 80
												shippingAddress.email -------------- Max length: 100
												shippingAddress.fax ---------------- Max length: 20
												shippingAddress.faxExtension ------- Max length: 6
												shippingAddress.firstName ---------- Max length: 20
												shippingAddress.homeExtension ------ Max length: 6
												shippingAddress.homePhone ---------- Max length: 20
												shippingAddress.lastName ----------- Max length: 20
												shippingAddress.mobile ------------- Max length: 20
												shippingAddress.mobileExtension ---- Max length: 6
												shippingAddress.other -------------- Max length: 100
												shippingAddress.otherExtension ----- Max length: 6
												shippingAddress.pager -------------- Max length: 100
												shippingAddress.state -------------- Max length: 50
												shippingAddress.title -------------- Max length: 40
												shippingAddress.type --------------- 
												shippingAddress.website ------------ Max length: 100
												shippingAddress.workExtension ------ Max length: 20
												shippingAddress.workPhone ---------- Max length: 20
												shippingAddress.zip ---------------- Max length: 20
												shippingAmount --------------------- 
												shippingCost ----------------------- Max length: 12
												shippingNotes ---------------------- Max length: 65535
												source ----------------------------- Max length: 50
												stage ------------------------------ Max length: 20
                                                CustomFields
												Operations:
												addProducts
												removeProducts
												deleteQuote
												addManualItems
												createBundle
												unbundle
												deleteBundle

												Entity type 'SalesOrder':
												Identifiers: QuoteNumber
												Fields:
												taxAmount --------------------------
												salesPerson ------------------------ Max length: 100
												billingAddress.address1 ------------ Max length: 50
												billingAddress.address2 ------------ Max length: 50
												billingAddress.city ---------------- Max length: 50
												billingAddress.company ------------- Max length: 50
												billingAddress.description --------- Max length: 80
												billingAddress.email --------------- Max length: 100
												billingAddress.fax ----------------- Max length: 20
												billingAddress.faxExtension -------- Max length: 6
												billingAddress.firstName ----------- Max length: 20
												billingAddress.homeExtension ------- Max length: 6
												billingAddress.homePhone ----------- Max length: 20
												billingAddress.lastName ------------ Max length: 20
												billingAddress.mobile -------------- Max length: 20
												billingAddress.mobileExtension ----- Max length: 6
												billingAddress.other --------------- Max length: 100
												billingAddress.otherExtension ------ Max length: 6
												billingAddress.pager --------------- Max length: 100
												billingAddress.state --------------- Max length: 50
												billingAddress.title --------------- Max length: 40
												billingAddress.type ---------------- 
												billingAddress.website ------------- Max length: 100
												billingAddress.workExtension ------- Max length: 20
												billingAddress.workPhone ----------- Max length: 20
												billingAddress.zip ----------------- Max length: 20
												carrierAccountNumber --------------- Max length: 50
												contact ---------------------------- Max length: 100
												deliveryMethod --------------------- Max length: 20
												description ------------------------ Max length: 100
												externalNotes ---------------------- Max length: 65535
												externallyViewable ----------------- Max length: 1
												fee -------------------------------- Max length: 12
												followUpRequired ------------------- Max length: 1
												internalNotes ---------------------- Max length: 65535
												shippingAddress.address1 ----------- Max length: 50
												shippingAddress.address2 ----------- Max length: 50
												shippingAddress.city --------------- Max length: 50
												shippingAddress.company ------------ Max length: 50
												shippingAddress.description -------- Max length: 80
												shippingAddress.email -------------- Max length: 100
												shippingAddress.fax ---------------- Max length: 20
												shippingAddress.faxExtension ------- Max length: 6
												shippingAddress.firstName ---------- Max length: 20
												shippingAddress.homeExtension ------ Max length: 6
												shippingAddress.homePhone ---------- Max length: 20
												shippingAddress.lastName ----------- Max length: 20
												shippingAddress.mobile ------------- Max length: 20
												shippingAddress.mobileExtension ---- Max length: 6
												shippingAddress.other -------------- Max length: 100
												shippingAddress.otherExtension ----- Max length: 6
												shippingAddress.pager -------------- Max length: 100
												shippingAddress.state -------------- Max length: 50
												shippingAddress.title -------------- Max length: 40
												shippingAddress.type --------------- 
												shippingAddress.website ------------ Max length: 100
												shippingAddress.workExtension ------ Max length: 20
												shippingAddress.workPhone ---------- Max length: 20
												shippingAddress.zip ---------------- Max length: 20
												shippingAmount --------------------- 
												shippingCost ----------------------- Max length: 12
												shippingNotes ---------------------- Max length: 65535
												source ----------------------------- Max length: 50
												stage ------------------------------ Max length: 20
                                                CustomFields
												Operations:
												createInvoice
												convertToInvoice
												addProducts
												removeProducts
												addManualItems
												createBundle
												unbundle
												deleteBundle
												completeOrder

												Entity type 'Invoice':
												Identifiers: QuoteNumber
												Fields:
												taxAmount --------------------------
												salesPerson ------------------------ Max length: 100
												updatedQuoteNumber ----------------- Max length: 18
												billingAddress.address1 ------------ Max length: 50
												billingAddress.address2 ------------ Max length: 50
												billingAddress.city ---------------- Max length: 50
												billingAddress.company ------------- Max length: 50
												billingAddress.description --------- Max length: 80
												billingAddress.email --------------- Max length: 100
												billingAddress.fax ----------------- Max length: 20
												billingAddress.faxExtension -------- Max length: 6
												billingAddress.firstName ----------- Max length: 20
												billingAddress.homeExtension ------- Max length: 6
												billingAddress.homePhone ----------- Max length: 20
												billingAddress.lastName ------------ Max length: 20
												billingAddress.mobile -------------- Max length: 20
												billingAddress.mobileExtension ----- Max length: 6
												billingAddress.other --------------- Max length: 100
												billingAddress.otherExtension ------ Max length: 6
												billingAddress.pager --------------- Max length: 100
												billingAddress.state --------------- Max length: 50
												billingAddress.title --------------- Max length: 40
												billingAddress.type ---------------- 
												billingAddress.website ------------- Max length: 100
												billingAddress.workExtension ------- Max length: 20
												billingAddress.workPhone ----------- Max length: 20
												billingAddress.zip ----------------- Max length: 20
												carrierAccountNumber --------------- Max length: 50
												contact ---------------------------- Max length: 100
												deliveryMethod --------------------- Max length: 20
												description ------------------------ Max length: 100
												externalNotes ---------------------- Max length: 65535
												externallyViewable ----------------- Max length: 1
												fee -------------------------------- Max length: 12
												followUpRequired ------------------- Max length: 1
												internalNotes ---------------------- Max length: 65535
												paymentDueDate --------------------- 
												shippingAddress.address1 ----------- Max length: 50
												shippingAddress.address2 ----------- Max length: 50
												shippingAddress.city --------------- Max length: 50
												shippingAddress.company ------------ Max length: 50
												shippingAddress.description -------- Max length: 80
												shippingAddress.email -------------- Max length: 100
												shippingAddress.fax ---------------- Max length: 20
												shippingAddress.faxExtension ------- Max length: 6
												shippingAddress.firstName ---------- Max length: 20
												shippingAddress.homeExtension ------ Max length: 6
												shippingAddress.homePhone ---------- Max length: 20
												shippingAddress.lastName ----------- Max length: 20
												shippingAddress.mobile ------------- Max length: 20
												shippingAddress.mobileExtension ---- Max length: 6
												shippingAddress.other -------------- Max length: 100
												shippingAddress.otherExtension ----- Max length: 6
												shippingAddress.pager -------------- Max length: 100
												shippingAddress.state -------------- Max length: 50
												shippingAddress.title -------------- Max length: 40
												shippingAddress.type --------------- 
												shippingAddress.website ------------ Max length: 100
												shippingAddress.workExtension ------ Max length: 20
												shippingAddress.workPhone ---------- Max length: 20
												shippingAddress.zip ---------------- Max length: 20
												shippingAmount --------------------- 
												shippingCost ----------------------- Max length: 12
												shippingNotes ---------------------- Max length: 65535
												source ----------------------------- Max length: 50
												stage ------------------------------ Max length: 20
												CustomFields

												Entity type 'LineItem':
												Identifiers: QuoteNumber, MfrName (optional), MfrPartNumber (optional), ProductId (optional), ItemNumber (optional), DocumentType (optional)
												either ProductId or both MfrName and MfrPartNumber are required
												Fields:
												descriptionLine1 ------------------- Max length: 73
												descriptionLine2 ------------------- Max length: 73
												note ------------------------------- Max length: 65535
												price ------------------------------ Max length: 12
												quantity --------------------------- Max length: 11
												contractNumber(only for PO item)---- Max length: 50
												CustomFields
												Operations:
												addTracking

												Entity type 'Container':
												Identifiers: QuoteNumber, TrackingNumber, MfrName, MfrPartNumber, ItemNumber (optional), DocumentType (optional)
												Fields:
												quantity --------------------------- Max length: 11
												shippedDate ------------------------ Max length: 25
												status ----------------------------- Max length: 25
												Operations:
												SetSerialNumbersAndAssetTags

												Entity type 'Product':
												Identifiers: MfrName, MfrPartNumber
												Fields:
												discontinued ----------------------- Max length: 1
												ledgerCode ------------------------- Max length: 50
												replacementManufacturerName -------- Max length: 100
												replacementManufacturerPartNumber--- Max length: 50
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
