projects/NRR Process Transformation/Channel Online/XML Sample/8.5/validate_usercredentials_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xml:lang="EN">
    <xs:include schemaLocation="coTypes.xsd"/>
    <xs:element name="validate_usercredentials_response">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="COEnvelope">
                    <xs:sequence>
                        <xs:element name="valid" type="xs:boolean"/>
                        <xs:element name="message" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
